<!doctype html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Printer Server</title>
</head>
<body>
  {% for color, message in get_flashed_messages(with_categories=true) %}
    <div class="flash" style="color: {{ color }};"><i>{{ message }}</i></div>
    <hr/>
  {% endfor %}
  <section class="content">
    <form
       accept-charset="UTF-8" 
       action = "{{ url_for('print_text') }}" method = "POST" 
    >
      <textarea name = "text" rows = "16" cols = "32"></textarea><br/>
      <input type = "submit" value = "Print Text"/>
    </form>
    <hr/>
    <form
       action = "{{ url_for('print_file') }}" method = "POST" 
       enctype = "multipart/form-data"
    >
      <input type = "file" name = "image" />
      <input type = "submit" value = "Print Image"/>
    </form>
    <hr/>
    <form
       action = "{{ url_for('print_raw') }}" method = "POST" 
       enctype = "multipart/form-data"
    >
      <input type = "file" name = "raw" />
      <input type = "submit" value = "Print Raw Data"/>
    </form>
    <hr/>
  </section>
</body>
